/* for lesson 1-3 
body {
  background-color: #1febd6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100dvh;
} */

/*for lesson 4*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid burlywood;
}
.logo {
  height: 6rem;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  font-size: 1.6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: none;
}
