/* for lesson 1-3 
body {
  background-color: #1febd6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100dvh;
} */

/*for lesson 4*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 86%
  );
}
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  border: 2px solid rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
.logo {
  height: 4rem;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: none;

  max-width: 15rem;
  cursor: pointer;
  transition: all 900ms;
}
.nav-items ul li:hover {
  border: 1px solid rgb(9, 63, 201);
  box-shadow: 10px 10px 2px 1px rgba(0, 30, 255, 0.244);
  background-color: rgba(0, 30, 255, 0.244);
}
.login-btn {
  font-size: 1.6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: none;
  cursor: pointer;
  background-color: transparent;

  border: 1px solid rgb(9, 63, 201);
  max-width: 15rem;
  cursor: pointer;
  transition: all 500ms;
}
.login-btn:hover {
  box-shadow: 10px 10px 2px 1px rgba(0, 30, 255, 0.457);
  background-color: rgba(0, 30, 255, 0.457);
}
.search-container {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: left;
}
.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.search-box {
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 2px solid rgb(41, 178, 178);
  /* max-width: 45rem; */
  background-color: #00000035;
  color: beige;
  width: 28rem;
}
.search-box::placeholder {
  color: beige;
}
.search-btn {
  padding: 0.5rem;
  font-size: 1.4rem;

  border: 2px solid rgb(41, 178, 178);
  width: 6rem;
  font-weight: bold;
  border: 2px solid rgb(9, 63, 201);
  cursor: pointer;
  transition: all 500ms;
  background-color: transparent;
}
.search-btn:hover {
  box-shadow: 10px 10px 2px 1px rgba(0, 30, 255, 0.244);
  transform: scale(1.05);
  background-color: rgba(0, 30, 255, 0.244);
}
.btn-top-rated-restaurant {
  margin: 0.6rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid rgb(9, 63, 201);
  max-width: 15rem;
  cursor: pointer;
  transition: all 500ms;
  background-color: transparent;

  color: rgb(0, 0, 0);
}
.btn-top-rated-restaurant:hover {
  box-shadow: 10px 10px 2px 1px rgba(0, 30, 255, 0.244);
  transform: scale(1.05);
  background-color: rgba(0, 30, 255, 0.244);
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.shimmer-card {
  border: 1px solid black;
  width: 14rem;
  height: 20rem;
  padding: 1rem 1.5rem;
  transition: all 0.5s;
  text-align: center;
  background-color: #ffffff57;
  display: flex;
  justify-content: center;
}
.shimmer-logo {
  width: 13rem;
  height: 8rem;
  padding: 0.5rem;
  height: 9rem;
  background-color: #53484841;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.res-card {
  border: 1px solid black;
  width: 14rem;
  height: 22.5rem;
  transition: all 0.5s;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(41, 178, 178);
  color: rgb(26, 42, 42);
}
.res-card:hover {
  box-shadow: 10px 10px 2px 1px rgba(0, 30, 255, 0.244);
  transform: scale(1.01);
}
.res-logo {
  width: 13rem;
  padding: 0.5rem;
  height: 10rem;
  border-radius: 1rem;
}
.res-name {
  font-size: 1.6rem;
}
.cuisine-details {
  font-size: 1rem;
}
.res-rating {
  margin: 0.5rem;
  font-size: 1rem;
}
.delivery-time {
  margin: 0.5rem;
  font-size: 1rem;
}
/** Restaurant Menu */
.res-menu {
  padding-left: 2rem;
}
.res-menu h1 {
  text-decoration: wavy;
  border-bottom: 1px solid black;
}
.res-menu p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.res-menu p span {
  margin-left: 1rem;
}
.res-menu ul h3 {
  margin: 1rem 0.5rem;
  font-size: 1.8rem;
}

/**Error page*/

.error-page {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
/** UserClass page*/
.user-card {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid rgb(73, 12, 239);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(21, 85, 142);
}
/** Media Queries */

@media (max-width: 44em) {
  :root {
    font-size: 14px;
  }
  .header {
    gap: 3rem;
    border: none;
  }
  .nav-items ul {
    align-items: baseline;
    font-size: 1.6rem;
  }
  .nav-items ul li {
    max-width: 4rem;
    margin-right: 0.3rem;
    padding: 0.2rem;

    border: 0px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .nav-items ul li {
    font-size: 1rem;
    font-weight: bold;
  }
}
